.tasks{
    width: 620px;
    margin: 0 auto;
}

input{
    width: 200px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 8px;
    outline: none;
}

input:focus-within {
    border-color: rgb(0, 128, 255);
}

button{
    width: 200px;
    height: 35px;
    border: cornflowerblue;
    border-radius: 8px;
    background-color: cornflowerblue;
    outline: none;
}

.placeholderInput{
    width: 611px;
}