* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 97vh;
}

nav {
  width: 100%;
  height: 15vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav img {
  width: 2%;
  height: 30%;
}

.i {
  width: 1%;
  height: 30%;
}

.head {
  padding: 1% 0 0 0;
  display: flex;
}

.head_left {
  width: 50%;
  height: 80vh;
  background-image: url(img/kira-auf-der-heide-8mj-o2H5PKE-unsplash.jpg);
  background-size: cover;
}
.head_right {
  width: 50%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.884);
  display: flex;
  flex-direction: column;
  color: white;
}

.p {
  width: 60%;
  height: 20%;
  margin: 10% auto 0;
}

.span {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 20% auto 0;
}

.head_right button {
  width: 20%;
  height: 10%;
  border: 1px solid white;
  color: white;
  background: none;
  margin: 10% 0 0 20%;
}

@media screen and (max-width: 1366px) {
  header {
    height: 60vh;
  }

  nav {
    height: 9vh;
  }

  .head_left {
    height: 50vh;
  }

  .head_right {
    height: 50vh;
  }
}

@media screen and (max-width: 1024px) {
  header {
    height: 40vh;
  }

  nav {
    height: 5vh;
  }

  .head_left {
    height: 30vh;
  }

  .head_right {
    height: 30vh;
  }

  .p {
    margin: 4% auto;
  }
}

@media screen and (max-width: 320px) {
  nav {
    width: 320px;
    height: 5vh;
  }
  nav img {
    width: 3%;
    height: 40%;
  }
  nav .i {
    height: 40%;
  }
  header {
    width: 320px;
    height: 70vh;
  }
  .head {
    flex-direction: column;
  }
  .head_left {
    width: 320px;
    height: 30vh;
  }
  .head_right {
    width: 320px;
    height: 35vh;
  }
  .span {
    width: 100%;
    justify-content: space-around;
    margin: 2% auto 0;
  }
  .p {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .head_right h2 {
    margin: 3% auto;
    font-size: 20px;
  }
  .head_right button {
    width: 20%;
    height: 10%;
    border: 1px solid white;
    color: white;
    background: none;
    margin: 10% 0 0 20%;
  }
  .head_right button {
    width: 35%;
    height: 5%;
    border: 1px solid white;
    color: white;
    background: none;
    position: absolute;
    right: 25px;
    top: 57vh;
  }
}

/* ---------------------------------------------- */

.featured {
  width: 90%;
  height: 150vh;
  display: flex;
  flex-direction: column;
  margin: 1.2% auto;
}

.f_top {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
}

.f_top_ins {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.f_top_ins img {
  width: 100%;
  height: 70%;
}

.featured p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2% 0 0 0;
}

/* ---------- */

.f_bttm {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
}

.bttm_ins {
  width: 32%;
  display: flex;
  flex-direction: column;
}

.f_bttm img {
  width: 100%;
  height: 75%;
}

.bttm_ins h2 {
  margin: 3% 0 0 0;
}

.featured button {
  width: 15%;
  height: 8vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.884);
  margin: 3% auto;
}

@media screen and (max-width: 1366px) {
  .featured {
    height: 105vh;
  }

  .f_bttm {
    height: 32%;
    margin: 2% 0 0 0;
  }

  .f_bttm img {
    height: 25vh;
  }

  .featured button {
    height: 7vh;
  }
}

@media screen and (max-width: 1024px) {
  .featured {
    height: 60vh;
  }

  .f_bttm {
    height: 32%;
    margin: 2% 0 0 0;
  }

  .f_bttm img {
    height: 68%;
  }

  .featured button {
    height: 4vh;
  }
}

@media screen and (max-width: 320px) {
  .featured {
    height: 173vh;
  }
  .featured h2 {
    font-size: 20px;
    margin: 3% 0 0 0;
  }
  .f_top {
    flex-direction: column;
    height: 120vh;
  }
  .f_top_ins {
    width: 300px;
    height: 60vh;
  }
  .f_top_ins img {
    height: 35vh;
  }
  .f_bttm {
    height: 40vh;
    overflow: scroll;
  }
  .bttm_ins {
    width: 960px;
    margin: 0 10px 0 0;
  }
  .bttm_ins img {
    width: 280px;
    height: 30vh;
  }
  .featured button {
    width: 40%;
    height: 5vh;
    margin: 0 auto;
  }
}
/* ---------------------- */

.middle_down {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 1.2% auto;
}

.content {
  width: 100%;
  height: 35%;
  display: flex;
}

.subscrb {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.884);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.content img {
  width: 50%;
  height: 100%;
}

.h2 {
  margin: 2% 0 0 0;
}

.content2 {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}

.ins_cont2 {
  width: 32%;
  /* height: 55vh; */
  display: flex;
  flex-direction: column;
  margin: 2% 0 0 0;
}

.ins_cont2 img {
  width: 100%;
  height: 40vh;
}

.middle_down p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2% 0 0 0;
}

.middle_down button {
  width: 15%;
  height: 7vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.884);
  margin: 2% auto;
}

.subscrb button {
  width: 25%;
  height: 15%;
  color: white;
  background: none;
  border: 1px solid white;
  margin: 3% 0 0 0;
}

@media screen and (max-width: 1366px) {
  .content {
    height: 40vh;
  }
  .content2 {
    height: 35vh;
  }

  .ins_cont2 img {
    height: 23vh;
  }

  .subscrb button {
    height: 10%;
  }

  .middle_down button {
    height: 6vh;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    height: 15%;
  }
  .content2 {
    height: 23vh;
  }

  .ins_cont2 img {
    height: 14vh;
  }

  .subscrb button {
    height: 10%;
  }

  .middle_down button {
    height: 4vh;
  }
}

@media screen and (max-width: 320px) {
  .content {
    flex-direction: column;
  }
  .content img {
    width: 100%;
  }
  .subscrb {
    width: 100%;
    height: 25vh;
  }
  h1 {
    font-size: 25px;
  }
  .subscrb button {
    width: 40%;
    height: 8vh;
  }
  .h2 {
    font-size: 15px;
  }
  .content2 {
    height: 40vh;
    overflow: scroll;
  }
  .ins_cont2 {
    width: 960px;
    margin: 0 10px 0 0;
  }
  .ins_cont2 img {
    width: 280px;
    height: 30vh;
  }
  .middle_down h2 {
    font-size: 20px;
  }
  .middle_down button {
    width: 40%;
    height: 5vh;
    margin: 0 auto;
  }
}

footer {
  width: 100%;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.884);
  margin: 5% 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

footer span {
  color: white;
}

footer img {
  width: 10%;
  height: 20%;
}

.i {
  width: 1%;
  height: 30%;
}

@media screen and (max-width: 1366px) {
  footer {
    height: 10vh;
  }
}

@media screen and (max-width: 1024px) {
  footer {
    height: 7vh;
  }
}

@media screen and (max-width: 320px) {
  footer {
    height: 8vh;
  }
  footer img {
    width: 20%;
    height: 30%;
  }
  footer span {
    font-size: 10px;
  }
}

button:hover {
  border-color: darkgoldenrod;
}
