@font-face{
    font-family: 'montserra';
    src: url(../assets/fonts/MontserratSubrayada-Regular.ttf);
}
@font-face{
    font-family: 'lateef';
    src: url(../assets/fonts/Lateef-Regular.ttf);
}
@font-face{
    font-family: 'caladea';
    src: url(../assets/fonts/Caladea-Regular.ttf);
}
@font-face{
    font-family: 'oswald';
    src: url(../assets/fonts/Oswald-VariableFont_wght.ttf);
}