h2{
    text-shadow: white 1px 1px 1px;
}

.container{
    width: 400px;
    height: 400px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    display: flex;
    flex-wrap: wrap;
}

.childBox{
    width: 131px;
    height: 131px;
    border: 1px solid #000;
}
