@mixin flexCenter() {
    display: flex;
    align-items: center;
}

@mixin color-divs ($count) {
    @for $i from 0 through $count {
        $background-color: nth($colors, $i + 1); 
     .sml_cntnr:hover .left#{$i} {
      background: $background-color;
      width: 90px;
      font-size: 80px;
      color: white;
      justify-content: center;
    }
    .left#{$i} {
        width: 0px;
        height: 100%;
        display: flex;
        align-items: center;
        transition: 0.5s;
    }
   }
}